<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../dsn_repas/vendor/bootstrap/css/bootstrap.min.css">
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../dsn_repas/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../dsn_repas/vendor/animate/animate.css">
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../dsn_repas/vendor/css-hamburgers/hamburgers.min.css">
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../dsn_repas/vendor/select2/select2.min.css">
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../dsn_repas/css/util.css">
    <link rel="stylesheet" type="text/css" href="../dsn_repas/css/main.css">
    <title>Effacer Repas</title>
  </head>
  <body>
  <center>
      <form class="contact1-form validate-form" action="../controller/delete_repas.php" method="POST" >
      
      <table >
        <th>
<tr>
<td style="font-weight: bolder;" style="color: rgb(7, 7, 7);">
  entrer id du plat 
</td>
<td>
  <div class="wrap-input1 validate-input" data-validate = " enter id plat ">
  <input class="input1" type="text" name="id" placeholder=" iD Repas ">
  <span class="shadow-input1"></span>
</div></td>
</tr>
<tr>
  
  <td>            <input type="submit" value="Effacer repas" class="contact1-form-btn" /> </td>
<td>            <input type="reset" value="Annuler"  class="contact1-form-btn"/>
</td>
</tr>
</th>
      </table>  
          
    </form>
  </center>
  </body>
  
<!--===============================================================================================-->
	<script src="../dsn_repas/vendor/jquery/jquery-3.2.1.min.js"></script>
  <!--===============================================================================================-->
    <script src="../dsn_repas/vendor/bootstrap/js/popper.js"></script>
    <script src="../dsn_repas/vendor/bootstrap/js/bootstrap.min.js"></script>
  <!--===============================================================================================-->
    <script src="../dsn_repas/vendor/select2/select2.min.js"></script>
  <!--===============================================================================================-->
    <script src="../dsn_repas/vendor/tilt/tilt.jquery.min.js"></script>
    <script >
      $('.js-tilt').tilt({
        scale: 1.1
      })
    </script>
  
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'UA-23581568-13');
  </script>
  
  <!--===============================================================================================-->
    <script src="../dsn_repas/js/main.js"></script>
  

</html>
